<html>
  <head>
    <title>Day 006 | JS Reps | Matt Jared</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="style.css" type="text/css" rel="stylesheet">
  </head>
  <body>
    <%- yield %>
    <footer>
      <p>Copyright © Matt Jared | Get your <a href="https://github.com/mattjared/reps" target="blank">reps</a> in.</p>
    </footer>
    <script src="script.js"></script>
  </body>
</html>