<div class="50">
  <h1>How long until the month's up?</h1>
  <h3>There's <span id="remaining"></span> remaining this month.</h3>
  <h1>How much do you make a year?</h1>
  <input type="number" id="salary" value="50000" placeholder="50,000">
  <button onClick="calc()">Calculate</button>
  <div id="moneyLeft">
    <p>That means you make $<span id="monthly"></span> a month.</p>
    <p class="tiny">Assuming a 25% tax rate</p>
    <p>If you spend $<span id="rent"></span> or 25% of your income on rent.</p>
    <p>And 15% or $<span id="retire"></span> on retirement savings.</p>
    <p>You'll have $<span id="disposable"></span> left over.</p>
    <p>Don't have more month than money!</p>
  </div>
</div>