<div id="el">
  <h1>Did you SAVE money today?</h1>
  <button onClick="y()"  id="y">Yes</button>
  <button onClick="n()" id="n">No</button>
  <div id="yesAns" class="hide">
    <h1>Alright! Way to go. Make sure to save tomorrow too!</h1>
  </div>
  <div id="noAns" class="hide">
    <h1>WTF dude? Get it together!</h1>
  </div>
  <div id="ans" class="hide">
    <h3>It's important to save money TODAY to reap the benefits later.</h3>
  </div>
</div>