<h1 class="findme">Heyo!!</h1>
<p>So that text above has a class of "findme" attached to it. Add the class "red" to it with the form below and see what happens</p>

    <input type="text" placeholder="class to find" class="findClass"/>
    <input type="text" placeholder="class to add" class="placeClass"/>
    <button>Add the class</button>
