<h1>Guess who said the line in Star Wars</h1>

<h3 onclick="starWars.hanSolo();">Person 1</h3>
<div id="han"></div>
<h3 onclick="starWars.lukeSkywalker();" >Person 2</h3>
<div id="luke"></div>
<h3 onclick="starWars.leiaOrgana();">Person 3</h3>
<div id="leia"></div>