<h1>Doing Math </h1>
<h3>Part One: Basics</h3>
<h5>Adding / Subtracting / Multiplying / Dividing</h5>
<input type="text" id="first">

<input type="radio" name="operation" id="add"> +
<input type="radio" name="operation" id="subtract"> -
<input type="radio" name="operation" id="multiply"> x
<input type="radio" name="operation" id="divide"> /

<input type="text" id="second">
<button onclick="doMath()">do math</button>
<h2 id="answer"></h2>