<h1>Doing Math </h1>
<h3>Part One: Basics</h3>
<h5>Percents (part one)</h5>

<p>Percents are a way to relate a certain number out of 100. We don't always have a sample size of 100 but we can use division to make up for that.</p>
<p>If you shoot 20 free throws and make 13 you are a 65% free throw shooter.</p>
<p>Calculate percents below. Put your success rate in the first box and the number of attempts in the second box.</p>
<input type="text" id="first">
<input type="text" id="second">
<button onclick="doMath()">do math</button>
<h2 id="answer"></h2>