<h1>How long until the month's up?</h1>
<div>Heyo! Today's
  <span id="dayOfWeek"></span>
  the
  <span id="date"></span>
  <span id="sequence"></span>
</div>
<div>There's <span id="remaining"></span> remaining this month.</div><div>Don't have more month than money.</div>